services:
  app:
    build: .
    command: watch --interval 10
    init: true 
    environment:
      COA_APP_ID: "${COA_APP_ID}"
      COA_APP_KEY: "${COA_APP_KEY}"
      BFS_SFTP_USER: "${BFS_SFTP_USER}"
    volumes:
      - ./:/opt/app:rw
      - ./secrets:/run/secrets:ro
    secrets:
      - source: SSH_KEY 
        target: /opt/app/.ssh/id_rsa
        uid: "40061"
        gid: "40061"
        mode: 0400

secrets:
  SSH_KEY:
    file: secrets/SSH_KEY
